canvas {
    border: 1px solid black;
    background-color: #E6E6FA; /* Cor de fundo roxo claro */
    display: block;
    margin: 0 auto;
}

#info {
    text-align: center;
    margin-top: 10px;
    font-family: Arial, sans-serif;
}
